############
#Constantes#
############

#1. Repos
#########

#1.1. General

export REPO_HOME="../..";	  #Path relativo del home del resto de los repositorios respecto de "DIDI-SSI-Scripts" (repo en el que se encuentra este script).
export REPO_BRANCH="develop"; #Branch de los repos en la que se trabajará.

#1.2. Local

export REPO_IDENTIDAD="$REPO_HOME/DIDI-SSI-Identity-issuer";
export REPO_ISSUER_MODULE_BACK="$REPO_HOME/DIDI-SSI-Issuer-module-backend";
export REPO_ISSUER_MODULE_FRONT="$REPO_HOME/DIDI-SSI-Issuer-module-frontend";
export REPO_JWT_VALIDATOR_VIEWER="$REPO_HOME/DIDI-SSI-JWT_validator_viewer";
export REPO_MOURO="$REPO_HOME/DIDI-SSI-Mouro";
export REPO_RONDA="$REPO_HOME/DIDI-Ronda/api";
export REPO_SEMILLAS_BACK="$REPO_HOME/DIDI-SSI-Semillas-backend";
export REPO_SEMILLAS_FRONT="$REPO_HOME/DIDI-SSI-Semillas-frontend";
export REPO_SERVER="$REPO_HOME/DIDI-SSI-Server";

#1.3. GitHub

export GITHUB_IDENTIDAD="git@github.com:ong-bitcoin-argentina/DIDI-SSI-Identity-issuer.git";
export GITHUB_ISSUER_MODULE_BACK="git@github.com:ong-bitcoin-argentina/DIDI-SSI-Issuer-module-backend.git";
export GITHUB_ISSUER_MODULE_FRONT="git@github.com:ong-bitcoin-argentina/DIDI-SSI-Issuer-module-frontend.git";
export GITHUB_JWT_VALIDATOR_VIEWER="git@github.com:ong-bitcoin-argentina/DIDI-SSI-JWT_validator_viewer.git";
export GITHUB_MOURO="git@github.com:ong-bitcoin-argentina/DIDI-SSI-Mouro.git";
export GITHUB_RONDA="git@github.com:ong-bitcoin-argentina/DIDI-Ronda.git";
export GITHUB_SEMILLAS_BACK="git@github.com:ong-bitcoin-argentina/DIDI-SSI-Semillas-backend.git";
export GITHUB_SEMILLAS_FRONT="git@github.com:ong-bitcoin-argentina/DIDI-SSI-Semillas-frontend.git";
export GITHUB_SERVER="git@github.com:ong-bitcoin-argentina/DIDI-SSI-Server.git";


#2. Docker
##########

#2.1. General

export DOK_AZ_NAME="<CHANGE_ME>"; #Nombre del repo ACR.
export DOK_AZ_USER="<CHANGE_ME>"; #Usuario para ingresar al ACR.
export DOK_AZ_PASW="<CHANGE_ME>"; #Password para ingresar al ACR.
DOK_AZ_REPO="<CHANGE_ME>";		  #Repositorio Docker.

if [ "$DOK_VERSION" == "" ]; then
	DOK_VERSION="<CHANGE_ME>";	  #Cambiar de acuerdo a la versión que se vaya a buildear (no puede comenzar con "-").
fi

#2.2. Docker Files (módulos de DIDI/Semillas)

export DOK_FILE_IDENTIDAD="$REPO_IDENTIDAD";
export DOK_FILE_ISSUER_MODULE_BACK="$REPO_ISSUER_MODULE_BACK";
export DOK_FILE_ISSUER_MODULE_FRONT="$REPO_ISSUER_MODULE_FRONT";
export DOK_FILE_JWT_VALIDATOR_VIEWER="$REPO_JWT_VALIDATOR_VIEWER";
export DOK_FILE_MOURO="$REPO_MOURO";
export DOK_FILE_RONDA="$REPO_RONDA";
export DOK_FILE_SEMILLAS_BACK="$REPO_SEMILLAS_BACK";
export DOK_FILE_SEMILLAS_FRONT="$REPO_SEMILLAS_FRONT";
export DOK_FILE_SERVER="$REPO_SERVER";

#2.3. Docker Tags

export DOK_TAG_IDENTIDAD="$DOK_AZ_REPO/didi-identidad:$DOK_VERSION";
export DOK_TAG_ISSUER_MODULE_BACK="$DOK_AZ_REPO/didi-issuer-back:$DOK_VERSION";
export DOK_TAG_ISSUER_MODULE_FRONT="$DOK_AZ_REPO/didi-issuer-front:$DOK_VERSION";
export DOK_TAG_JWT_VALIDATOR_VIEWER="$DOK_AZ_REPO/didi-jwt-validator:$DOK_VERSION";
export DOK_TAG_MOURO="$DOK_AZ_REPO/didi-mouro:$DOK_VERSION";
export DOK_TAG_RONDA="$DOK_AZ_REPO/didi-ronda:$DOK_VERSION";
export DOK_TAG_SEMILLAS_BACK="$DOK_AZ_REPO/semillas-middleware:$DOK_VERSION";
export DOK_TAG_SEMILLAS_FRONT="$DOK_AZ_REPO/semillas-middleware-frontend:$DOK_VERSION";
export DOK_TAG_SERVER="$DOK_AZ_REPO/didi-server:$DOK_VERSION";


#3. Dependencias
################

#Módulos para los que las dependencias se instalan con "maven".
export MVN_MODULES="$DOK_FILE_SEMILLAS_BACK|";

#Módulos para los que las dependencias se instalan con "yarn".
export YARN_MODULES="$DOK_FILE_SEMILLAS_FRONT|";

#Módulos para los que las dependencias se instalan con "npm".
export NPM_MODULES="$DOK_FILE_IDENTIDAD|$DOK_FILE_ISSUER_MODULE_BACK|$DOK_FILE_ISSUER_MODULE_FRONT|$DOK_FILE_JWT_VALIDATOR_VIEWER|$DOK_FILE_MOURO|$DOK_FILE_RONDA|$DOK_FILE_SERVER|";


#4. Misc
########

export SCRIPT_HOME="$PWD";


